<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2018. CK. All rights reserved.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd"
            default-autowire="byName">
    <context:component-scan base-package="com.github.fartherp.framework.core.mock">
    </context:component-scan>
    <bean id="mockInterceptor" class="com.github.fartherp.framework.core.web.interceptor.MockInterceptor">
        <property name="mock" value="false"/>
    </bean>

    <bean id="beanNameAutoProxyCreator"
          class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames">
            <list>
                <value>*Service</value>
            </list>
        </property>
        <property name="interceptorNames">
            <list>
                <value>mockInterceptor</value>
            </list>
        </property>
    </bean>
</beans>